<div class=" container mt-5 pt-3">
  <h1 class="restaurant_details_align">Restaurant Details</h1>
  <hr>
  <div class=" d-flex flex-column align-items-center">
    <div class="card row w-25">
      <div class="card-header mb-3">
        <strong><%= @restaurant.name %></strong>
      </div>
      <div class="card-body>
        <p class="card-text"><strong>Address:</strong> <%= @restaurant.address%></p>
        <p class="card-text"><strong>Phone Number:</strong> <%= @restaurant.phone_number %></p>
        <p class="card-text"><strong>Category:</strong> <%= @restaurant.category %></p>
        <%= link_to "Add Review", new_restaurant_review_path(@restaurant), class:"btn btn-secondary mb-2" %>
      </div>
    </div>
    <% @restaurant.reviews.each do |review| %>
      <div class="card w-25 mt-3">
        <div class="card-header">
          <strong>Review</strong>
        </div>
        <div class="card-body">
          <p class="card-text"><strong>Comments:</strong> <%= review.content%></p>
          <p class="card-text"><strong>Rating:</strong> <%= 'â­ï¸' * review.rating  %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
